/* ======================== *\
    # header
\* ======================== */

.header {
    padding: 0.2rem 0.4rem;

    color: var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
}

/* ===================== *\
    # Champion Selecitons
\* ===================== */

.selectionList {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--icon-size));
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
}

.selectionItem {
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
    transition: 0.2s ease-out padding-left;

    user-select: none;
    cursor: grab;
}
.selectionItem:hover {
    border-color: var(--secondaryColor);
}
.selectionItem:focus {
    border-color: var(--primaryColor);
}
.selectionItemDragging {
    opacity: 0.4;
    filter: grayscale(80%);
}
.selectionItemDragOver {
    border-color: var(--primaryColor);
    filter: saturate(1.2);
}

.selectionItem > img {
    display: block;
    width: 100%;
    background-color: var(--secondaryColor);
}

/* ======================== *\
    #Default Selections
\* ======================== */

.default {
    display: grid;
    grid: 50% 50% / 50% 50%;

    padding: 0;

    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--secondaryColor);

    cursor: pointer;
    position: relative;
}
.default:before {
    content: "View Defaults";
    grid-area: span 2 / span 2;
    padding: 0 0.4rem;

    position: absolute;
    z-index: 10;

    display: flex;
    align-items: center;

    height: 100%;

    font-weight: bold;
    font-size: var(--header5);

    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    opacity: 0;

    transition: 0.35s ease-out opacity, 0.35s ease-out color;
}
.default:hover:before {
    opacity: 0.8;
    color: var(--primaryColor);
}

.default > img {
    width: 100%;
    filter: grayscale(100%);
}

/* ======================== *\
    # Add Champion Btn
\* ======================== */

.addButton {
    width: var(--icon-size);
    height: var(--icon-size);

    cursor: pointer;
    transition: 0.15s ease-out transform, 0.15s ease-out border,
        0.15s ease-out color;

    background-color: var(--secondaryColor);
    border: 1px solid var(--textColor);
}
.addButton:hover {
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}
