/* ===================== *\
    # Position Selector
\* ===================== */

.positionSelector {
    margin: 2rem 0 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--background);

    user-select: none;
}

/* ------------------------- *\
    #Position
\* ------------------------- */

.position {
    cursor: pointer;
}

.positionRadio {
    display: none;
}

.positionIcon {
    flex: 1 1 auto;
    padding: 0.5rem;

    width: 64px;

    color: var(--secondaryColor);
    fill: var(--secondaryColor);
    font-weight: bold;

    cursor: pointer;
    transition: 0.25s ease-out background-color, 0.2s ease-out transform,
        0.25s ease-out fill, 0.25s ease-out color;
    transform: scale(0.7);
    filter: grayscale(100%);
}

.position:hover > .positionIcon {
    transform: scale(1);
}
.positionRadio:checked + .positionIcon {
    transform: scale(1);
    filter: grayscale(0%);

    /* Depending on what tag the 'positionIcon' is; color is defined differently */
    color: var(--primaryColor);
    fill: var(--primaryColor);
}

/* ======================== *\
    #All
\* ======================== */

.positionRadio:checked + div {
    color: var(--primaryColor);
}

/* ------------------------- *\
    #Right Nav
\* ------------------------- */

.rightNav {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.settingsBtn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

/* ------------------------- *\
    #Nav Icon
\* ------------------------- */

.navicon {
    width: 32px;

    fill: var(--secondaryColor);
    transition: 0.25s ease-out fill, 0.25s ease-out color;
}
.navicon:hover {
    cursor: pointer;
    fill: var(--primaryColor);
}

.trash {
    cursor: default;
}
.trashOver svg {
    transform: scale(3);
    fill: var(--primaryColor);
}
