/* ===================== *\
    # Header Section
\* ===================== */

.cancelButton {
    padding: 0.6rem 1rem;
    margin: 0rem 0 0.8rem;
    margin-right: auto;
}

.searchbar {
    display: flex;
}
.searchbarInput {
    flex-grow: 1;
}
.searchbarClear {
    border: none;
    margin-left: 2px;
}

/* ======================== *\
    # Full Champion List
\* ======================== */

.champList {
    user-select: none;
    padding: 1rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--icon-size));
    justify-content: space-between;
    gap: 0.4rem;
}

.championItem > img {
    /* Without this the .champItem has an extra 4px on the bottom and idk why */
    display: block;

    max-width: var(--icon-size);
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    background-color: var(--secondaryColor);
}

.championItem > button {
    font-size: 4rem;
}
