/* ======================== *\
    #Variables
\* ======================== */

:root {
    --icon-size: 100px;

    /* Colors */
    --gold: #d1af75;
    --black: #09141b;
    --white: #fbfbfb;
    --light-grey: #afb5bb;
    --grey: #24282c;

    /* Type Scaling */
    --header1: 1.8rem;
    --header2: 1.6rem;
    --header3: 1.4rem;
    --header4: 1.2rem;
    --header5: 1.1rem;
    --paragraph: 1rem;
    --helperText: 0.8rem;
    --copyrightText: 0.7rem;

    /* Theme */
    --background: var(--black);
    --primaryColor: var(--gold);
    --secondaryColor: var(--grey);
    --textColor: var(--light-grey);
    --textColorInverted: black;
}

/* ======================== *\
    #Scollbar
\* ======================== */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
}

/* ======================== *\
    #General
\* ======================== */

* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;

    color: var(--textColor);
    background-color: var(--background);

    /* Just use the fonts from tailwind [DC] */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* ======================== *\
    #Headers
\* ======================== */

h1 {
    font-size: var(--header1);
}
h2 {
    font-size: var(--header2);
}
h3 {
    font-size: var(--header3);
}
h4 {
    font-size: var(--header4);
}
h5 {
    font-size: var(--header5);
}

/* ======================== *\
    #Links
\* ======================== */

a {
    display: inline-flex;
    align-items: center;
    text-align: center;

    text-decoration: none;

    color: var(--textColor);
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);

    transition: 0.25s ease-out color;
}

a:hover,
a:focus {
    color: var(--white);
    border: 1px solid var(--primaryColor);
    outline: none;
}

/* ======================== *\
    #Form
\* ======================== */

.btn,
button {
    padding: 0.6rem 1rem;
    cursor: pointer;

    color: var(--textColor);
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);

    transition: 0.25s ease-out color, 0.25s ease-out border,
        0.25s ease-out background-color;
}
.btn:hover,
.btn:focus button:hover,
button:focus {
    color: var(--white);
    border: 1px solid var(--primaryColor);
    outline: none;
}

/* ------------------------- *\
    #Submit button
\* ------------------------- */

.btn--primary {
    font-weight: bold;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}
.btn--primary:hover,
.btn--primary:focus {
    border: 1px solid var(--white);
    color: var(--black);
}

/* ------------------------- *\
    #Dropdown
\* ------------------------- */

.select {
    padding: 0.3rem 0.4rem;
    cursor: pointer;

    color: var(--textColor);
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);

    transition: 0.25s ease-out color, 0.25s ease-out border,
        0.25s ease-out background-color;
}
.select:hover,
.select:focus {
    color: var(--white);
    border: 1px solid var(--primaryColor);
}

/* ------------------------- *\
    #Input
\* ------------------------- */

input {
    padding: 0.6rem 1rem;
    border: 1px solid transparent;

    color: var(--white);
    background-color: var(--secondaryColor);
}
input::placeholder {
    color: var(--textColor);
    transition: 0.25s ease-out color;
}
input:hover::placeholder,
input:focus::placeholder {
    color: var(--textColor);
}
input:focus {
    border: 1px solid var(--primaryColor);
}
input[type="text"]:focus {
    outline: none;
}
